@model Twitter.Web.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Profile";
}


<div class="row">
    <div class="col-xs-9">
        @Html.ActionLink("Tweets", "Index") |
        @Html.ActionLink("Following", "Index") |
        @Html.ActionLink("Followers", "Index") |    
        @Html.ActionLink("Favorites", "Index")
    </div>
    <div class="col-xs-4">
        <div>
            <img class="user-avatar" src="@Url.Content(Model.PictureUrl)" alt="Avatar" />
        </div>
        <div>
            <h2>@Model.Username</h2>
        </div>
    </div>
    @{
        foreach (var tweet in Model.Tweets)
        {
            <div class="col-xs-6">
                <header>
                    <div class="col-md-1">
                        <img class="user-avatar" src="@Url.Content(tweet.User.PictureUrl)" alt="Avatar" />
                    </div>                        
                    <h3 class="col-md-2">
                        @tweet.User.UserName.Substring(0, @tweet.User.UserName.IndexOf('@'))
                    </h3>
                    <span class="col-md-2">
                        @{
                            var timeAgo = (DateTime.Now - tweet.CreatedOn);
                        }
                        @Math.Floor(timeAgo.TotalDays) d
                    </span>
                </header>

                <section>
                    <p>@tweet.Content</p>   
                </section>

                <footer>
                    @Html.ActionLink("Favorite", "Index") |
                    @Html.ActionLink("Retweet", "Index") |
                    @Html.ActionLink("Reply", "Index") |
                    @Html.ActionLink("Share", "Index") |
                    @Html.ActionLink("Report", "Index")
                </footer>
            </div>
        }
    }
</div>

